body { text-align: center; 
	background:white; 
	font-family: initial;
}

p { font-size: 24px;
 }
 
a {
	text-decoration: none;
}


ul { text-align:left; }
h3 { text-align:left; }

h1 { color: black; front font-family:arial }
h2 { color:black; front font-family: initial;}

h4 { margin:60px }




.frame { 
	background: white; 
	padding: 35px;
	margin: 35px;
	border: solid 5px white ;
	border-radius: 5px;
	box-shadow: 10px 10px 10px grey;
}

.circle-photo {
	width: 500px;
	height: 300px; 
	border-radius: 125px;
	object-fit: cover;
	box-shadow: 10px 10px 10px grey;
}
 
.box-frame { 
	justify-content: center;
	display: flex;
 }

 .my-navbar {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 20px;
}

.my-navbar ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

.my-navbar ul li a {
	padding: 12px;
	margin: 0 6 px;
}

.my-navbar ul li a:hover {
	color: black;
	background-color: deeppink;
}


.links {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.link {
  margin: 10px 30px;
  color: black;
}

.link:hover {
  color: black;
}

h3 { margin:20px }

p { margin : 30px }

.card { 
margin: 20px;

 }



