body { text-align: center; 
	background:white; 
	font-family: baskerville;
}

p { font-size: 24px;
 }
 
a {
	text-decoration: none;
}


ul { text-align:left; }

h3 { 
	text-align:left; 
	font-family: vidaloka;
	text-align: center;
}

h1 { color: black; 
	font-family: vidaloka; 
	margin: 35px;
}


h2 { color:black; 
	font-family: vidaloka;
}

h4 { margin:60px }




.frame { 
	background: white; 
	padding: 35px;
	margin: 35px;
	border: solid 5px white ;
	border-radius: 5px;
	box-shadow: 10px 10px 10px grey;
}

.circle-photo {
	width: 500px;
	height: 300px; 
	border-radius: 125px;
	object-fit: cover;
	box-shadow: 10px 10px 10px grey;
}
 
.box-frame { 
	justify-content: center;
	display: flex;
 }

 .my-navbar {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 20px;
}

.my-navbar ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

.my-navbar ul li a {
	padding: 12px;
	margin: 0 6 px;
}

.my-navbar ul li a:hover {
	color: black;
	background-color: deeppink;
}


.links {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.link {
  margin: 10px 30px;
  color: black;
}

.link:hover {
  color: black;
}

h3 { margin:20px }

p { margin : 30px }

.cards { 
	display: flex;
	justify-content: space-around;
	align-items: center;
margin: 60px;
 }

.btn {
	background: white;
	color: black;
	border-radius: black;

}


.row {
margin: 35px;

}

.images { 
	display: 	flex;
	justify-content: space-between;
	margin: 35px;
 }

.france {
		background: white; 
		padding: 35px;
		margin: 35px;
		border: solid 5px white ;
		border-radius: 5px;
		box-shadow: 10px 10px 10px grey;

 }

.italie { 
		background: white; 
		padding: 35px;
		margin: 35px;
		border: solid 5px white ;
		border-radius: 5px;
		box-shadow: 10px 10px 10px grey;

  }

.espagne { 
		background: white; 
		padding: 35px;
		margin: 35px;
		border: solid 5px white ;
		border-radius: 5px;
		box-shadow: 10px 10px 10px grey;

  }

.images-france { 
	 	display: flex;
	 	justify-content: center;
	 	padding: 35px;
  }

.photo-france-1 { 
  	display: flex;
  	justify-content: space-around;
  	margin: 35 px;
  	padding: 35px;
   }

.contenu-france-1 { 
   	justify-content: center; 
    }

.photo-france-2 { 
  	display: flex;
  	justify-content: space-around;
  	margin: 35 px;
  	padding: 35px;
   }

.contenu-france-2 { 
   	justify-content: center; 
    }

.photo-france-3 { 
  	display: flex;
  	justify-content: space-around;
  	margin: 35 px;
  	padding: 35px;
   }

.contenu-france-3 { 
   	justify-content: center; 
    }

.video-france {
	justify-content: center;
}

.photo-espagne-1 { 
  	display: flex;
  	justify-content: space-around;
  	margin: 35 px;
  	padding: 35px;
   }

.contenu-espagne-1 { 
   	justify-content: center; 
    }

.photo-espagne-2 { 
  	display: flex;
  	justify-content: space-around;
  	margin: 35 px;
  	padding: 35px;
   }

.contenu-espagne-2 { 
   	justify-content: center; 
    }

.photo-espagne-3 { 
  	display: flex;
  	justify-content: space-around;
  	margin: 35 px;
  	padding: 35px;
   }

.contenu-espagne-3 { 
   	justify-content: center; 
    }

.video-espagne {
	justify-content: center;
}

.photo-italie-1 { 
  	display: flex;
  	justify-content: space-around;
  	margin: 35 px;
  	padding: 35px;
   }

.contenu-italie-1 { 
   	justify-content: center; 
    }

.photo-italie-2 { 
  	display: flex;
  	justify-content: space-around;
  	margin: 35 px;
  	padding: 35px;
   }

.contenu-italie-2 { 
   	justify-content: center; 
    }

.photo-italie-3 { 
  	display: flex;
  	justify-content: space-around;
  	margin: 35 px;
  	padding: 35px;
   }

.contenu-italie-3 { 
   	justify-content: center; 
    }

.video-italie {
	justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    }
    
.form-container {
      width: 50%;
    }
    
.form-container form {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    font-weight: bold;
    }
    
.form-container label,
.form-container input,
.form-container textarea,
.form-container button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    }
    
.form-container textarea {
    height: 100px;
    }
    
.text-container {
    font-size: 18px;
    text-align: center;
    }
    
.center-text {
    text-align: center;
    }
    
.underline-text {
    text-decoration: underline;
    }



